.wm-flappy {
  position: relative;
  border: 5px solid var(--border);
  flex: 1;
  background: var(--background);
  transition: background 0.2s;
  overflow: hidden;
}

.passaro {
  position: absolute;
  width: 60px;
  left: calc(50% - 30px);
}

.par-de-barreiras {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: filter 0.3s;
}

.barreira {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barreira .borda {
  height: 30px;
  width: 130px;
  background: linear-gradient(90deg, var(--green-500), var(--green-300));
  border: 2px solid #000;
}

.barreira .corpo {
  height: 40px;
  width: 110px;
  background: linear-gradient(90deg, var(--green-500), var(--green-300));
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  transition: height 0.3s;
}

.progresso {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Pixel;
  font-size: 70px;
  z-index: 100;
}

.gameover {
  width: 100%;
  height: 100%;
  background-color: #000a;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameover .restart {
  position: relative;
  padding: 1rem 2rem;
  font-size: 22px;
  background-color: var(--blue-1);
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  filter: drop-shadow(16px 16px 20px black);
  transition: background 0.3s;
}

.gameover .restart:hover {
  background: var(--blue-2);
}

.itemEspecial{
  width: 50px;
  height: 50px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}